<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Gerar lance para {{ vm.cotacao.produto.nome }}</h4>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <form-group>
            <label for="nome">Valor do lance unitário:</label>
            <input class="form-control" type="number" ng-model="vm.lanceModel.lance">
        </form-group>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Sair</button>
    <button type="button" class="btn btn-success" ng-click="vm.gerarLance()">Enviar</button>
</div>